/* top_page */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
* {
	font-family: 'Montserrat';
}

h1{
	color: #8B1111;
	background-color: #C0C0C0;
}

nav.menu_nav ul li{
	list-style-type: none;
	display: inline-block;
	padding-right: 10px;
}

nav.menu_nav ul li:hover a{
	color: #000000;
	background-color: #a24040;
	transition: 0.4s all;

}

nav.menu_nav ul li a{
	color: #8B1111;
	text-decoration: none;
	background-color: #C0C0C0;
	padding: 5px;
}

/* Accueil */

.accueil{
	display: flex;
	justify-content: space-evenly;
}

.accueil div.intro p{
	padding-top: 15px;
	margin-left: 15%;
}

.accueil div.logo{
	margin-right: 10%;
	white-space: 37%;
}

/* Jeux */

h3.mode_solo{
	color: white;
	padding-left: 10%;
	font-weight: bold;
}
p.mode_solo{
	color: white;
	padding-left: 5%;
	padding-right: 20%;
}

h3.mode_multi{
	color: white;
	padding-left: 10%;
	font-weight: bold;
}
p.mode_multi{
	color: white;
	padding-left: 5%;
	padding-right: 20%;
}

a.download:hover{
	color: #000000;
	background-color: #a24040;
	transition: 0.4s all;
}

a.download{
	font-weight: bold;
	color: #8B1111;
	text-decoration: none;
	background-color: #C0C0C0;
	font-size: 25px;
	margin-left: 35%;
	padding: 10px;
}

body.Jeux{
	background-image:url('../img/photo_game.png');
	background-size: cover;
	background-repeat:no-repeat;
	height: 100vh;
}


/* Membres */
div.membres{
	display: flex;
}
div.membres img.membres{
	padding: 25px;
	padding-top: 100px;
	padding-left: 150px;
}
div.membres p.membres{
	padding: 25px;
	padding-top: 100px;
	padding-right: 200px;
}

/* contact */

.contact {
	display:flex;
	justify-content: space-evenly;
}

.contact div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact div a {
	font-weight: bold;
	color: #8B1111;
	text-decoration: none;
	background-color: #fff;
	font-size: 25px;
	padding: 10px;
}

.contact div a:hover{
	color: #000000;
	background-color: #a24040;
	transition: 0.4s all;
}
.fa-envelope-open-text{
	font-size: 55px;
	margin-left: 175px;
	margin-right: 175px;
}

/* Actulités */
.actu{
	display: flex;
	flex-direction: column;
}

.firstligne{
	display: flex;
	justify-content: space-evenly;
}
.secondligne{
	display: flex;
	justify-content: space-evenly;
}

.actu div div{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.icon{
	font-size: 75px;
	color: #8B1111;
}

.actu div a {
	font-weight: bold;
	color: #000;
	text-decoration: none;
	background-color: #fff;
	text-align: center;
	font-size: 25px;
	padding: 10px;
	width: 200px;
}
.actu div a:hover{
	color: #000000;
	background-color: #a24040;
	transition: 0.4s all;
}

.pages_actu div h3{
	text-align: center;
}

.cahier_des_charges h3 , .première_soutenance h3{
	text-align: center;
}

a.download_cahier:hover{
	color: #000000;
	background-color: #a24040;
	transition: 0.4s all;
}

a.download_cahier{
	font-weight: bold;
	color: #8B1111;
	text-decoration: none;
	background-color: #C0C0C0;
	font-size: 25px;
	margin-left: 32%;
	padding: 10px;
}

a.prems{
	margin-left: 46%;
}

.pages_actu div p{
	margin-left: 200px;
	margin-right: 200px;
	text-align: center;
}
.pages_actu div div.audio figure audio{
	display: block;
	margin-left: auto;
	margin-right: auto;
}